nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.nav {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  margin: 0 200px;
}
.texr-primary {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.btn {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 15px;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  width: 500px;
}
.banner-greet {
  font-size: 45px;
  color: #474747;
  margin: 0;
}
.bnr-content{
  max-width: 500px;
}
.title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 20px;
}
.bnr-description {
}
.about{
  padding:130px;
  border-radius:10px;
  background:#fff8f3;
  margin: 130px 0;
}
.section-title{
  color:#181818);
text-align:center;
font-size:35px;
font-weight:700;
}
.section-description{
  color:#757575);
  text-align:center;
  font-size:18px;
}
main{
  max-width: 1140;
  margin: auto;
}
 .about-info-container{
  display: flex;
  justify-content: space-around;
 }